<div id="e-commerce-order" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-orders-button md-icon-button" aria-label="Go to orders"
                       ng-click="vm.gotoOrders()"
                       translate translate-attr-aria-label="EC.GO_TO_ORDERS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="column" layout-align="start start">
                <div class="h2">
                    <span translate="EC.ORDER">Order</span>
                    <span>{{vm.order.reference}}</span>
                </div>

                <div class="subtitle secondary-text">
                    <span translate="EC.FROM">from</span>
                    <span>{{vm.order.customer.firstName}} {{vm.order.customer.lastName}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.ORDER_DETAILS">Order Details</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="order-detail-form-container customer md-background-bg md-whiteframe-1dp">
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-account" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text" translate="EC.CUSTOMER">Customer</div>
                        </div>

                        <div class="customer">
                            <table class="simple" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th translate="EC.NAME">Name</th>
                                        <th translate="EC.EMAIL">Email</th>
                                        <th translate="EC.PHONE">Phone</th>
                                        <th translate="EC.COMPANY">Company</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div layout="row" layout-align="start center">
                                                <img class="avatar" ng-src="{{vm.order.customer.avatar}}">
                                                <span class="name text-nowrap">{{vm.order.customer.firstName}} {{vm.order.customer.lastName}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="email">{{vm.order.customer.email}}</span>
                                        </td>
                                        <td>
                                            <span class="phone">{{vm.order.customer.phone}}</span>
                                        </td>
                                        <td>
                                            <span class="phone">{{vm.order.customer.company}}</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                            <md-tabs class="addresses">
                                <md-tab>
                                    <md-tab-label>
                                        <span translate="EC.SHIPPING_ADDRESS">Shipping Address</span>
                                    </md-tab-label>
                                    <md-tab-body>
                                        <div class="address">{{vm.order.customer.shippingAddress}}</div>
                                        <ui-gmap-google-map center="vm.shippingAddressMap.center"
                                                            zoom="vm.shippingAddressMap.zoom">
                                            <ui-gmap-marker coords="vm.shippingAddressMap.center"
                                                            idkey="vm.shippingAddressMap.marker.id"></ui-gmap-marker>
                                        </ui-gmap-google-map>
                                    </md-tab-body>
                                </md-tab>
                                <md-tab>
                                    <md-tab-label>
                                        <span translate="EC.INVOICE_ADDRESS">Invoice Address</span>
                                    </md-tab-label>
                                    <md-tab-body>
                                        <div class="address">{{vm.order.customer.invoiceAddress}}</div>
                                        <ui-gmap-google-map center="vm.invoiceAddressMap.center"
                                                            zoom="vm.invoiceAddressMap.zoom">
                                            <ui-gmap-marker coords="vm.invoiceAddressMap.center"
                                                            idkey="vm.invoiceAddressMap.marker.id"></ui-gmap-marker>
                                        </ui-gmap-google-map>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>

                        </div>
                    </div>

                    <div class="order-detail-form-container status md-background-bg md-whiteframe-1dp">
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-clock" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text" translate="EC.ORDER_STATUS">Order Status</div>
                        </div>
                        <table class="simple" ms-responsive-table>
                            <thead>
                                <tr>
                                    <th translate="EC.STATUS">Status</th>
                                    <th translate="EC.UPDATED_ON">Updated On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="status in vm.order.status">
                                    <td>
                                        <span class="status {{status.color}}">{{status.name}}</span>
                                    </td>
                                    <td>
                                        {{status.date}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="update-status" layout="row" layout-align="start center">
                            <md-input-container flex>
                                <label>Select a status</label>
                                <md-select ng-model="vm.newStatus">
                                    <md-option ng-repeat="status in vm.orderStatuses" value="{{status.id}}">
                                        {{status.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-button class="md-raised md-accent" ng-click="vm.updateStatus(vm.newStatus)"
                                       ng-disabled="!vm.newStatus">
                                Update Status
                            </md-button>
                        </div>
                    </div>

                    <div class="order-detail-form-container payments md-background-bg md-whiteframe-1dp">
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-cash" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text" translate="EC.PAYMENT">Payment</div>
                        </div>
                        <table class="simple" ms-responsive-table>
                            <thead>
                                <tr>
                                    <th translate="EC.TRANSACTION_ID">TransactionID</th>
                                    <th translate="EC.PAYMENT_METHOD">Payment Method</th>
                                    <th translate="EC.AMOUNT">Amount</th>
                                    <th translate="EC.DATE">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{vm.order.payment.transactionId}}
                                    </td>
                                    <td>
                                        {{vm.order.payment.method}}
                                    </td>
                                    <td>
                                        {{vm.order.payment.amount}}
                                    </td>
                                    <td>
                                        {{vm.order.payment.date}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="order-detail-form-container shipping md-background-bg md-whiteframe-1dp">
                        <div class="pb-16" layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-truck" class="m-0 mr-16"></md-icon>
                            <div class="h2 secondary-text" translate="EC.SHIPPING">Shipping</div>
                        </div>
                        <table class="simple" ms-responsive-table>
                            <thead>
                                <tr>
                                    <th translate="EC.TRACKING_CODE">Tracking Code</th>
                                    <th translate="EC.CARRIER">Carrier</th>
                                    <th translate="EC.WEIGHT">Weight</th>
                                    <th translate="EC.FEE">Fee</th>
                                    <th translate="EC.DATE">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="shipping in vm.order.shippingDetails">
                                    <td class="tracking-code" editable-text="shipping.tracking">
                                        {{shipping.tracking || 'Click to add a tracking code'}}
                                    </td>
                                    <td>
                                        {{shipping.carrier}}
                                    </td>
                                    <td>
                                        {{shipping.weight}}
                                    </td>
                                    <td>
                                        {{shipping.fee}}
                                    </td>
                                    <td>
                                        {{shipping.date}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.PRODUCTS">Products</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="order-detail-form-container products md-background-bg md-whiteframe-1dp">
                        <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                               dt-options="vm.dtOptions">
                            <thead>
                                <tr>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">ID</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Image</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Name</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Price</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Quantity</span>
                                        </div>
                                    </th>
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">Actions</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in ::vm.order.products">
                                    <td>{{product.id}}</td>
                                    <td><img class="product-image" ng-src="{{product.image}}"></td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td>
                                        <md-button class="edit-button md-icon-button"
                                                   ng-click="vm.gotoProductDetail(product.id)"
                                                   aria-label="Product details"
                                                   translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
                                            <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.INVOICE">Invoice</span>
                </md-tab-label>

                <md-tab-body>

                    <div id="invoice" class="compact">
                        <div class="invoice-container">

                            <!-- INVOICE -->
                            <div class="card md-whiteframe-8dp">

                                <div class="header">
                                    <div class="invoice-date">{{vm.order.date}}</div>

                                    <div layout="row" layout-align="space-between stretch">
                                        <div class="client">
                                            <div class="invoice-number mb-8" layout="row" layout-align="start center">
                                                <span class="title" translate="INVOICE.INVOICE">INVOICE</span>
                                                <span class="number">{{vm.order.reference}}</span>
                                            </div>

                                            <div class="info">
                                                <div class="title">{{vm.order.customer.firstName}}
                                                    {{vm.order.customer.lastName}}
                                                </div>
                                                <div class="address">
                                                    {{vm.order.customer.invoiceAddress}}
                                                </div>
                                                <div class="phone">
                                                    {{vm.order.customer.phone}}
                                                </div>
                                                <div class="email">
                                                    {{vm.order.customer.email}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="issuer md-accent-bg" layout="row" layout-align="start center">
                                            <div class="logo" layout="row" layout-align="center center">
                                                <span>F</span>
                                            </div>

                                            <div class="info">
                                                <div class="title">FUSE INC.</div>
                                                <div class="address">2810 Country Club Road Cranford, NJ 07016</div>
                                                <div class="phone">+66 123 455 87</div>
                                                <div class="email">hello@fuseinc.com</div>
                                                <div class="website">www.fuseinc.com</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="content">
                                    <table class="simple invoice-table">
                                        <thead>
                                            <th translate="EC.INVOICE_PRODUCT">PRODUCT</th>
                                            <th class="text-right" translate="EC.INVOICE_PRICE">PRICE</th>
                                            <th translate="EC.INVOICE_QUANTITY">QUANTITY</th>
                                            <th class="text-right" translate="EC.INVOICE_TOTAL">TOTAL</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="product in vm.order.products">
                                                <td>
                                                    <div class="title">
                                                        {{product.name}}
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    {{product.price}}
                                                </td>
                                                <td>
                                                    {{product.quantity}}
                                                </td>
                                                <td class="text-right">
                                                    {{product.total}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="simple invoice-table-footer">
                                        <tbody>
                                            <tr class="subtotal">
                                                <td translate="EC.INVOICE_SUBTOTAL">SUBTOTAL</td>
                                                <td>{{vm.order.subtotal}}</td>
                                            </tr>
                                            <tr class="tax">
                                                <td translate="EC.INVOICE_TAX">TAX</td>
                                                <td>{{vm.order.tax}}</td>
                                            </tr>
                                            <tr class="discount">
                                                <td translate="EC.INVOICE_DISCOUNT">DISCOUNT</td>
                                                <td>{{vm.order.discount}}</td>
                                            </tr>
                                            <tr class="total">
                                                <td translate="EC.INVOICE_TOTAL">TOTAL</td>
                                                <td>{{vm.order.total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <div layout="row" layout-align="start start">
                                        <div class="logo md-accent-bg" layout="row" layout-align="center center">
                                            <div>F</div>
                                        </div>
                                        <div class="small-note">
                                            In condimentum malesuada efficitur. Mauris volutpat placerat auctor. Ut ac
                                            congue dolor. Quisque scelerisque lacus sed feugiat fermentum. Cras aliquet
                                            facilisis pellentesque. Nunc hendrerit quam at leo commodo, a suscipit
                                            tellus dapibus. Etiam at felis volutpat est mollis lacinia. Mauris placerat
                                            sem sit amet velit mollis, in porttitor ex finibus. Proin eu nibh id libero
                                            tincidunt lacinia et eget eros.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / INVOICE -->

                            <!-- Use the following element to add breaks to your pages -->
                            <!-- This will make sure that the section after this element will be printed on a new page -->
                            <div class="page-break"></div>

                        </div>
                    </div>

                </md-tab-body>
            </md-tab>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>