<!doctype html>
<html ng-app="fuse">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Fuse - Admin Theme</title>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <link rel='stylesheet' href='/static/bower_components/perfect-scrollbar/css/perfect-scrollbar.css' />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/static/app/index.css">
        <!-- endinject -->
        <!-- endbuild -->

        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic'
              rel='stylesheet' type='text/css'>
    </head>

    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <body md-theme="{{vm.themes.active.name}}" md-theme-watch ng-controller="IndexController as vm"
          class="{{state.current.bodyClass || ''}}">

        <!-- SPLASH SCREEN -->
        <ms-splash-screen id="splash-screen">
            <div class="center">
                <div class="logo">
                    <span>F</span>
                </div>
                <!-- Material Design Spinner -->
                <div class="spinner-wrapper">
                    <div class="spinner">
                        <div class="inner">
                            <div class="gap"></div>
                            <div class="left">
                                <div class="half-circle"></div>
                            </div>
                            <div class="right">
                                <div class="half-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Material Design Spinner -->
            </div>
        </ms-splash-screen>
        <!-- / SPLASH SCREEN -->

        <div id="main" class="animate-slide-up" ui-view="main" layout="column"></div>

        <ms-theme-options></ms-theme-options>

        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/static/bower_components/jquery/dist/jquery.js"></script>
        <script src="/static/bower_components/angular/angular.js"></script>
        <script src="/static/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/static/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/static/bower_components/angular-messages/angular-messages.js"></script>
        <script src="/static/bower_components/angular-material/angular-material.js"></script>
        <script src="/static/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/static/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/static/bower_components/angular-translate/angular-translate.js"></script>
        <script src="/static/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="/static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/static/bower_components/mobile-detect/mobile-detect.js"></script>
        <script src="/static/bower_components/moment/moment.js"></script>
        <script src="/static/bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <script src="/static/app/quick-panel/quick-panel.module.js"></script>
        <script src="/static/app/quick-panel/tabs/chat/chat-tab.controller.js"></script>
        <script src="/static/app/core/core.module.js"></script>
        <script src="/static/app/core/directives/ms-widget/ms-widget.directive.js"></script>
        <script src="/static/app/core/directives/ms-timeline/ms-timeline.js"></script>
        <script src="/static/app/core/directives/ms-stepper/ms-stepper.directive.js"></script>
        <script src="/static/app/core/directives/ms-splash-screen/ms-splash-screen.directive.js"></script>
        <script src="/static/app/core/directives/ms-sidenav-helper/ms-sidenav-helper.directive.js"></script>
        <script src="/static/app/core/directives/ms-shortcuts/ms-shortcuts.directive.js"></script>
        <script src="/static/app/core/directives/ms-search-bar/ms-search-bar.directive.js"></script>
        <script src="/static/app/core/directives/ms-scroll/ms-scroll.directive.js"></script>
        <script src="/static/app/core/directives/ms-responsive-table/ms-responsive-table.directive.js"></script>
        <script src="/static/app/core/directives/ms-random-class/ms-random-class.directive.js"></script>
        <script src="/static/app/core/directives/ms-navigation/ms-navigation.directive.js"></script>
        <script src="/static/app/core/directives/ms-nav/ms-nav.directive.js"></script>
        <script src="/static/app/core/directives/ms-material-color-picker/ms-material-color-picker.directive.js"></script>
        <script src="/static/app/core/directives/ms-masonry/ms-masonry.directive.js"></script>
        <script src="/static/app/core/directives/ms-info-bar/ms-info-bar.directive.js"></script>
        <script src="/static/app/core/directives/ms-form-wizard/ms-form-wizard.directive.js"></script>
        <script src="/static/app/core/directives/ms-datepicker-fix/ms-datepicker-fix.directive.js"></script>
        <script src="/static/app/core/directives/ms-card/ms-card.directive.js"></script>
        <script src="/static/app/main/sample/sample.module.js"></script>
        <script src="/static/app/main/sample/sample.controller.js"></script>
        <script src="/static/app/core/theming/fuse-theming.service.js"></script>
        <script src="/static/app/core/theming/fuse-theming.config.js"></script>
        <script src="/static/app/core/theming/fuse-themes.constant.js"></script>
        <script src="/static/app/core/theming/fuse-palettes.constant.js"></script>
        <script src="/static/app/core/theming/fuse-generator.service.js"></script>
        <script src="/static/app/core/theme-options/theme-options.directive.js"></script>
        <script src="/static/app/core/services/ms-utils.service.js"></script>
        <script src="/static/app/core/services/ms-api.provider.js"></script>
        <script src="/static/app/core/services/api-resolver.service.js"></script>
        <script src="/static/app/core/filters/tag.filter.js"></script>
        <script src="/static/app/core/filters/filterByPropIds.filter.js"></script>
        <script src="/static/app/core/filters/filterByIds.filter.js"></script>
        <script src="/static/app/core/filters/basic.filter.js"></script>
        <script src="/static/app/core/filters/altDate.filter.js"></script>
        <script src="/static/app/core/directives/highlight.directive.js"></script>
        <script src="/static/app/core/config/fuse-config.provider.js"></script>
        <script src="/static/app/toolbar/toolbar.module.js"></script>
        <script src="/static/app/toolbar/toolbar.controller.js"></script>
        <script src="/static/app/quick-panel/quick-panel.controller.js"></script>
        <script src="/static/app/navigation/navigation.module.js"></script>
        <script src="/static/app/navigation/navigation.controller.js"></script>
        <script src="/static/app/index.module.js"></script>
        <script src="/static/app/main/main.controller.js"></script>
        <script src="/static/app/core/core.run.js"></script>
        <script src="/static/app/core/core.config.js"></script>
        <script src="/static/app/index.run.js"></script>
        <script src="/static/app/index.route.js"></script>
        <script src="/static/app/index.controller.js"></script>
        <script src="/static/app/index.constants.js"></script>
        <script src="/static/app/index.config.js"></script>
        <script src="/static/app/index.api.js"></script>
        <!-- endinject -->

        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->

    </body>
</html>