<div class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center start">
        <div class="breadcrumb">
            <span class="parent">Custom Directives</span>
        </div>

        <div class="title">ms-responsive-table</div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="card md-whiteframe-4dp" layout="column">

            <!-- htmlmin:ignore -->
            <hljs language="html" class="source-code">
                <table class="simple" ms-responsive-table>
                    <!-- Table content -->
                </table>
            </hljs>
            <!-- htmlmin:ignore -->

            <span class="h2 pt-16">Description:</span>
            <p>
                <b>ms-responsive-table</b> directive is useful for making tables responsive. It will simply add a
                scrollable wrapper around the table to make them usable in smaller screens.
            </p>

        </div>

    </div>
    <!-- / CONTENT -->

</div>