<div class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center start">
        <div class="breadcrumb">
            <span class="parent">Custom Directives</span>
        </div>

        <div class="title">ms-splash-screen</div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="card md-whiteframe-4dp" layout="column">

            <!-- htmlmin:ignore -->
            <hljs language="html" class="source-code">
                <ms-splash-screen>
                    <!-- Splash screen content -->
                </ms-splash-screen>
            </hljs>
            <!-- htmlmin:ignore -->

            <span class="h2 pt-16">Description:</span>
            <p>
                <b>ms-splash-screen</b> is a helper directive that helps splash screen to disappear.
            </p>

        </div>

    </div>
    <!-- / CONTENT -->

</div>