<div class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center start">
        <div class="breadcrumb">
            <span class="parent">Custom Directives</span>
        </div>

        <div class="title">ms-sidenav-helper</div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="card md-whiteframe-4dp" layout="column">

            <!-- htmlmin:ignore -->
            <hljs language="html" class="source-code">
                <md-sidenav class="sidenav" md-component-id="main-sidenav" ms-scroll ms-sidenav-helper>
                    <!-- Sidenav Content -->
                </md-sidenav>
            </hljs>
            <!-- htmlmin:ignore -->

            <span class="h2 pt-16">Description:</span>
            <p>
                <b>ms-sidenav-helper</b> directive is required if you use sidenavs inside the page content. You can
                check out the <em>app/main/ui/layouts/simple/left-sidenav/left-sidenav.html</em> file for the simple
                usage.
            </p>
            <p>
                Simply, this directive will add a class to the certain elements in order to page and the sidenav act
                correctly on all devices.
            </p>

        </div>

    </div>
    <!-- / CONTENT -->

</div>