<div class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center start">
        <div class="breadcrumb">
            <span class="parent">Custom Directives</span>
        </div>

        <div class="title">ms-shortcuts</div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="card md-whiteframe-4dp" layout="column">

            <span class="h2 pt-16">Description:</span>
            <p>
                <b>ms-shortcuts</b> is a directive that you can use to add shortcuts for navigation items. It works in
                parallel with <b>ms-navigation</b> directive to get its data. It has built in search, add and remove
                shortcut functions.
            </p>

            <span class="h2 pt-16">Example:</span>

            <!-- htmlmin:ignore -->
            <hljs language="html" class="source-code">
                <ms-shortcuts></ms-shortcuts>
            </hljs>
            <!-- htmlmin:ignore -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>